.intro {
  background-color: #fff;
}

.ingress {
  text-align: center;
  color: #333;
  padding: 5% 5%;
  font-size: 20px;
}

.intro-row {
  margin: 0% 5% 5% 5%;
  text-align: center;
}

.intro-column {
  padding: 0% 3%;
}

.icon-header {
  font-size: 50pt;
  color: #357ED3;
}
